@charset "utf-8";
@media all and (min-width:1024px){
/*플롯 리셋*/
.sns>ul::after,.util>ul::after,.slide>ul::after{
    content:'';
    display:block;
    clear:both;
    width:0; height:0;
    visibility:hidden;
}
/* 헤더영역 */
header{
    width: 100%;
    height:166px;
}
.headerWrap{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px auto;
    width:75%;
}
/*sns 영역*/
.sns>ul{
    width:258.75px;
}
.sns>ul>li{
    float:left;
    margin-left:10px;
}
.sns>ul>li>a>img{
    width: 35px;
}
/*유틸 영역*/
.util>ul>li{
    float:left;
    margin-left:20px;
}
.util>ul>li:hover{
    font-weight:bold;
    transition:transform .3s;
}
.util>ul>li>a{
    font-size:14px;
}
/*GNB 영역*/
.gnb{
    width:100%;
    height:70px;
    background: #0f204b;
    line-height:70px;
}
.gnb>ul{
    width:75%;
    margin:0 auto; 
    text-align:center;
    display:flex;
    justify-content: normal;
    align-items: center;
}
.gnb>ul>li{
    float:left;
    width:14.28571428571429%;
    position:relative;
}
.gnb>ul>li>a{
    display:block;
    color:#fff;
    font-family: 'GmarketSansBold';
    width:100%;
    height:70px;   
}
.submenu{
	width: 100%;
	position:absolute;
	background: rgba(15,32,75,.7);
    z-index: 2;
    display: none;
}
.submenu>li{
    width:100%;
    height: 70px;
    display: block;
}
.submenu>li>a{
	display:block !important;
	text-align:center;
	width:100%;
	height:70px;
	line-height:70px;
	color:#fff;
    font-size:1rem;
}
/*GNB 효과*/
.gnb>ul>li>a:hover{
    background:#fff;
    color:#0f204b;
    transition:all .3s;
}
.submenu>li>a:hover{
    background: #fff;
    color:#0f204b;
    transition:all .3s;
    font-weight:900;
}
#btn>a:hover{
    background: #0f204b;
}

/*헤더 서브 영역*/
.header_sub{
    width:100%;
    height:320px;
    background: #f1f1f1;
    position:relative;
}

.header_sub p{
    position:absolute;
    top:90px;
    text-align:left;
    left:25%;
    color:#fff; 
    font-family: 'GmarketSansBold';
    font-size:38px;
    z-index: 999;
}
.header_sub p>span{
    font-size: 24px;
    color: #fff;
    font-family: 'GmarketSansMedium';
    position: absolute;
    top: 70px;
    width: 500px;

}
.hs_img{
    width:100%;
    height:320px;
    position: relative;
    overflow: hidden;
}
.hs_img img{
    position: absolute;
    width:100%;
    height:320px;
}
/*lnb 영역*/
.lnb_background{
    width:100%;
    height:60px;
    position:absolute;
    bottom:0;
    background:rgba(15, 32, 75, .9);
    z-index: 1;
}
.lnb_wrap{
    width:75%;
    margin:0 auto;
}
.lnb>li:first-child>a>img{
    width:23px;
    height:20px;
}
.lnb{
    display:flex;
    height:60px;
}
.lnb>li{
    width:200px;
    position:relative;
    border-left:1px solid #fff;
}
.lnb>li:last-child{
    border-right:1px solid #fff;
}
.lnb>li:first-child{
    width:60px;
}
.lnb>li>a{
    display:block;
    height:60px;
    line-height:60px;
    text-align:left;
    color:#fff;
    padding:0px 20px;
}
.lnb_sub>li{
    width:100%;
    height:60px;
    position:relative;
}
.lnb_sub>li>a{
    display:block;
    height:60px;
    line-height:60px;
    text-align:left;
    color:#fff;
    padding:0px 20px;
}
.lnb_sub{
    width:100%;
    position:absolute;
    z-index: 2;
    background: rgba(0, 0, 0, .5);
    display:none;
}
.lnb_sub>li>a:hover{
    background: rgba(0, 0, 0, .8);
    color:#fff;
    transition:all .3s;
}
/*LNB 화살표*/
.lnb_sub>li::after{
    content:'';
    width:30px;
    height:2px;
    background: #fff; 
    display:none;
    position:absolute;
    top:33px;
    right:15px;
}
.lnb_sub>li::before{
    content:'';
    width:13px;
    height:2px;
    transform:rotate(30deg);
    background: #fff; 
    display:none;
    position:absolute;
    top:29.5px;
    right:14px;
}
.lnb_sub>li:hover::after,.lnb_sub>li:hover::before{
    display:block;
}
.lnb_btn01,.lnb_btn02{
    position:absolute;
    right:20px;
    top:38%;
}

/*메인 컨텐츠 영역 */
.section1{
    width: 100%;
    height: 100%;
}
.section1>p{
    text-align: center;
    margin: 100px auto;
    font-family: 'GmarketSansBold';
    font-size: 24px;
}
.section1>p>span{
    font-size: 48px;
}
.section2{
    width: 75%;
    height: 800px;
    margin: 0 auto;
}

.section2_box_wrap>a>div{
    float: left;
    margin-left: 1%;
}
.section2_box_wrap>a>div:first-child{
    margin: 0;
}
.section2_box_wrap::after{
	content:'';
	display:block;
	clear:both;
	width:0; height:0;
	visibility:hidden;
}

.section2_box{
    width: 23.65%;
    height: 500px;
    border: 4px solid #0f204b;
    background: #fff;
    text-align: center;
    color: #0f204b;
    font-family: 'GmarketSansMedium';
    position: relative;
}
.section2_box>img{
    width: 30%;
    margin-bottom: 30px;
}
.section2_box>h1{
    font-size: 26px;
    font-family: 'GmarketSansBold';
    margin-top: 30px;
}
.section2_box>h2{
    font-size: 30px;
    font-family: 'GmarketSansBold';
}
.section2_box>p{
    margin: 40px 0px;
}
.section2_box>h3>img{
    width: 8%;
    position: absolute;
    left: 21%;
    bottom:26%;
}
.section2_box>h3{
    font-size: 16px;
    margin-left: 20px;
}
.section2_box_bottom{
    width: 100%;
    height: 70px;
    background: #ddd;
    color: #0f204b;
    font-size: 30px;
    line-height: 80px;
    position: absolute;
    bottom: 0;
    font-family: 'GmarketSansBold';
    border-top: 4px solid #0f204b;
}
.section2_box_bottom:hover{
    background-color: #0f204b;
    color: #fff;
    transition: all .3s;
}
.section2>p{
    margin-top: 40px;
    margin-left: 15px;
    line-height: 2;
    font-weight: 400;
    font-size: 16px;
}
.section2>p>span{
    font-weight: bold;
}

.section3{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    color: red;
    padding-bottom: 50px;
    border-bottom: 3px solid red;
    line-height: 1.5;
}
.section3>h1{
    font-size: 36px;
    font-family: 'GmarketSansBold';
}
.section3>p{
    font-size: 18px;
    font-family: 'GmarketSansMedium';
}
.section4{
    width: 75%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 100px auto;
}



/*푸터 영역*/
footer{
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background: #0f204b;
}
.footer_top>li>a{
    display:block;
    color: #fff;
    font-size: 16px;
    margin-top:30px;
    font-family: 'GmarketSansMedium';
}
.footer_top{
    width:60%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin:0 auto;
}
.line{
    margin-top: 30px;
    width: 100%;
    height: 2px;
    background: #fff;
}
.footer_bottom>ul>li>a>img{
    width: 200px;
    height: 65px;
}
.footer_bottom>ul>li:nth-of-type(2){
    color:#fff;
    font-size:14px;
    text-align:center;
    font-family: 'GmarketSansMedium';
}
.footer_sns{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin:0 auto;
}
.footer_sns>li{
    margin-left:10px;
}
.footer_bottom{
    margin-top:80px;
}
.footer_bottom>ul{
    width:65%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin:0 auto;
}
.footer_top>li>a:hover{
    font-family: 'GmarketSansBold';
    color:#a88759;  
}


}